<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header class="row navbar navbar-inverse navbar-fixed-top">
            <div class="col-lg-12">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("GRC Evo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Ventes", "Index", "Ventes")</li>
                            <li>@Html.ActionLink("Règlements", "Index", "Reglements")</li>
                            <li>@Html.ActionLink("Achats", "Index", "Achats")</li>
                            <li>@Html.ActionLink("Stock / Articles", "Index", "Stock")</li>
                            <li>@Html.ActionLink("Paramètres", "Index", "Setup")</li>
                            <!--<li>@Html.ActionLink("À propos de", "About", "Home")</li>-->
                            <!--<li>@Html.ActionLink("Contact", "Contact", "Home")</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="row">
            <nav class="col-sm-2">
                <h3>Menu</h3>

                <div class="btn-group-vertical btn-block">
                    <a class="btn btn-block text-left btn-info" href="#">Clients</a>
                    <a class="btn btn-block btn-info" href="#">Règlements</a>
                    <a class="btn btn-block btn-info" href="#">Articles</a>

                </div>
            </nav>
            <section class="col-sm-10">
                <div class="col-sm-10 body-content container">
                    @RenderBody()
                </div>
            </section>
        </div>
        <footer class="row">
            <div class="col-lg-12">
                <hr />
                <p>&copy; @DateTime.Now.Year - GRC Evo</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
