<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header class="row navbar navbar-inverse navbar-fixed-top">
            <div class="col-lg-12">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("GRC Evo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ventes<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Reglements")">Devis</a></li>
                                    <li><a href="#">Commandes</a></li>
                                    <li><a href="#">Factures</a></li>
                                    <ul class="dropdown-submenu">
                                        <li>sous menu</li>
                                    </ul>
                                    <li><a href="#">Tickets</a></li>
                                    <li><a href="#">Clients</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Règlements<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Reglements")">Page 1-1</a></li>
                                    <li><a href="#">Page 1-2</a></li>
                                    <li><a href="#">Page 1-3</a></li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Achats", "Index", "Achats")</li>
                            <li>@Html.ActionLink("Stock / Articles", "Index", "Stock")</li>
                            <li>@Html.ActionLink("Paramètres", "Index", "Setup")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="row">
            <section class="col-lg-12">
                <div class="col-lg-12 body-content container">
                    @RenderBody()
                </div>
            </section>
        </div>
        <footer class="row">
            <div class="col-lg-12">
                <hr />
                <p>&copy; @DateTime.Now.Year - GRC Evo</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
