<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header class="row navbar navbar-fixed-top">
            <div class="container">
                <nav class="navbar navbar-inverse" role="navigation">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="oNavigation">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("GRC Evo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                            <!-- Ventes -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ventes <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Documents de ventes</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Devis", "Devis", "Ventes")</li>
                                            <li class="disabled">@Html.ActionLink("Commandes", "Commandes", "Ventes")</li>
                                            <li class="disabled">@Html.ActionLink("Factures", "Factures", "Ventes")</li>
                                            <li class="disabled"><a href="#">Règlements</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li class="disabled"><a href="#">Tickets</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Clients</a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Prospects", "Prospects", "Clients")</li>
                                            <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                                            <li><a href="#">Contacts</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Familles clients/prospects</a></li>
                                            <li><a href="#">Sous-familles clients/prospects</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Historique clients/articles</a></li>
                                            <li><a href="#">Statistiques</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Règlements</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Echéancier</a></li>
                                            <li><a href="#">Règlements</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- Règlements -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Règlements <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Clients</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Echéancier</a></li>
                                            <li><a href="#">Règlements</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Fournisseurs</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Echéancier</a></li>
                                            <li><a href="#">Règlements</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- Achats -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Achats <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Documents d'achats</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Demandes de prix</a></li>
                                            <li><a href="#">Commandes</a></li>
                                            <li><a href="#">Bons de réception</a></li>
                                            <li><a href="#">Bons de retour</a></li>
                                            <li>@Html.ActionLink("Factures", "Factures", "Achats")</li>
                                            <li><a href="#">Avoirs</a></li>
                                            <li><a href="#">Factures d'acomptes</a></li>
                                            <li><a href="#">Factures d'avoirs</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Fournisseurs</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Fournisseurs</a></li>
                                            <li><a href="#">Contacts</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Familles fournisseurs</a></li>
                                            <li><a href="#">Sous-familles fournisseurs</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Historique fournisseurs/articles</a></li>
                                            <li><a href="#">Statistiques</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Règlements</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Echéancier</a></li>
                                            <li><a href="#">Règlements</a></li>
                                            <li><a href="#">Décaissements</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- Stocks / Articles -->
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stocks / Articles <b class="caret"></b> </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Documents de stock</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Bons d'entrée</a></li>
                                            <li><a href="#">Bons de sortie</a></li>
                                            <li><a href="#">Inventaires</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Articles</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Articles</a></li>
                                            <li><a href="#">Familles d'articles</a></li>
                                            <li><a href="#">Sous-familles d'articles</a></li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="#">Historique Historique clients/articles</a></li>
                                            <li><a href="#">Historique fournisseurs/articles</a></li>
                                            <li><a href="#">Statistiques</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="#">Tarifs clients</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Tarifs et promotions clients</a></li>
                                            <li><a href="#">Catégories tarifaires clients</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="1" href="#">Tarifs fournisseurs</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Tarifs et promotions fournisseurs</a></li>
                                            <li><a href="#">Catégories tarifaires fournisseurs</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>


                            <!-- Paramètres -->
                            <li><a href="#">Paramètres</a></li>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>





        <!--<header class="row navbar navbar-inverse navbar-fixed-top">-->
        <!--
        <div class="col-lg-12">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("GRC Evo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Ventes<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Reglements")">Devis</a></li>
                                <li><a href="#">Commandes</a></li>
                                <li><a href="#">Factures</a></li>
                                <ul class="dropdown-submenu">
                                    <li>sous menu</li>
                                </ul>
                                <li><a href="#">Tickets</a></li>
                                <li><a href="#">Clients</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Règlements<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Reglements")">Page 1-1</a></li>
                                <li><a href="#">Page 1-2</a></li>
                                <li><a href="#">Page 1-3</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Achats", "Index", "Achats")</li>
                        <li>@Html.ActionLink("Stock / Articles", "Index", "Stock")</li>
                        <li>@Html.ActionLink("Paramètres", "Index", "Setup")</li>
                    </ul>
                </div>
            </div>
        </div>-->
        <!--</header>-->
        <div class="row">
            <section class="col-lg-12">
                <div class="col-lg-12 body-content container">
                    @RenderBody()
                </div>
            </section>
        </div>
        <footer class="row">
            <div class="col-lg-12">
                <hr />
                <p>&copy; @DateTime.Now.Year - GRC Evo</p>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
