@{
    ViewBag.Title = "Clients";
}

<h2>Clients / Liste</h2>

@Html.ActionLink("Nouveau", "NouveauClient", "Clients")

<table>
    <tr>
        <td>Id</td>
        <td>Numero</td>
        <td>Nom</td>
        <td>Adresse</td>
        <td>Code Postal</td>
        <td>Ville</td>
        <td>Pays</td>
    </tr>
    @{
        foreach (var client in Model.ListeDesClients)
            {
                <tr>
                    <td>@client.Id</td>
                    <td>@client.PrefixeNumero@client.Numero.ToString("000000")</td>
                    <td>@client.Nom.ToUpper()</td>
                    <td>@client.Adresse.ToUpper()</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
    }
</table>

